[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
pandas = "*"
openpyxl = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
pytest = "*"

[scripts]

[requires]
python_version = "3.11"
